<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="//malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.min.css">
  
   
    <title>Titulo</title>
  <style>
    .boton{
        font-size: 20px;
        color:rgb(129, 109, 199);
        text-decoration: none;
        background-color: rgb(0, 0, 0);
        padding: 15px;
        border-radius: 5px;
    }


    .boton:hover{
        background-color: rgb(129, 109, 199);;
        color:rgb(0, 0, 0);
        padding: 15px;

    }

    .titulo1{
        font-size: 20px;
        color:brown;
        text-decoration: none;
        padding: 15px;
        border-radius: 5px;
    }

    body{
        padding: 0%;
        margin: 0%;
    }

    #banner{
        background-color: bisque; 
        width: 100%; 
        height: 200px;
        text-align: center;
    }

    #bannerIng{
        background-color: rgb(180, 93, 93);
        width: 70%;
        height: auto;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../public/images/camara.ico" height="40"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Mostrar usuarios</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#">Obtener informacion</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>


  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        
        <img src="../public/images/banner1.png" class="d-block w-100" alt="First slide">
      </div>
      <div class="carousel-item">
        <img src="../public/images/banner2.png" class="d-block w-100" alt="Second slide">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img style="width: 100%;">
        </div>
    </div>
</div>
<div class="row">
  <div class="col-md-6" >

          <button id="boton" class="boton" onclick="getCons()">Mostrar usuarios</button>

  </div>
</div>


<div id="tabla"></div>
    <div class="container">
        <div class="row" style="padding-top: 20px;">

            <div class="col-md-6" >
                <a id="boton" class="boton" href="" data-toggle="modal" data-target="#modal1" >Crear usuarios</a>
            </div>
        </div>
        <div class="row" style="padding-top: 20px;">
          <div class="col">
              <table class="table table-dark">
                  <thead id="thead"></thead>
                  <tbody id="tbody"></tbody>
              </table>
          </div>
      </div>

  <button onclick="obtenerDatos()" id="boton" class="boton">Obtener informacion</button>


    
    <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="modal1" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 id="title"> Create a Row</h5> </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action='/api/create' method="post" enctype="application/x-www-form-urlencoded">
              <div class="modal-body">
                <div class="form-group"> 
                  <label class="h4 ">Name</label>
                  <input type="text" class="form-control" rows="5" name="name" required></input>
                  <br>
                  <label class="h4 ">Email</label>
                  <input type="text" class="form-control" rows="5" name="email" required></input>
                  <br>
                 </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success">Guardar</button>
              </div>
            </form>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>
    <script>
        

        function getCons() {
          
            event.preventDefault();
            const settings = {
                url: "/api/getInfo/",
                type: "GET"
            };

            $.ajax(settings).done(res => {

                console.log(res)
                $('#thead').html('')
                var attrs = ["name", "email"];
                var thead = document.getElementById("thead");
                var tr = thead.insertRow(-1);
                attrs.forEach(attr => {
                    var th = tr.insertCell(-1);
                    th.innerText = attr;
                    th.scope = "col";
                });
                
                var tbody = document.getElementById("tbody");
                
                res.data.forEach(star => {
                    var tr = tbody.insertRow(-1);
                    attrs.forEach(attr => {
                        var td = tr.insertCell(-1);
                        td.innerText = star[attr];
                    });
                });
            });

        }
        
   
   </script>

<script>
  function obtenerDatos() {
    console.log("se utilizo el boton")
    var settings = {
      "url": "https://jsonplaceholder.typicode.com/users",
      "method": "GET",
    };





    $.ajax(settings).done(function (response) {

      $('#tabla').html('');
      var table1 = $('<table >').addClass('table table-bordered table-condensed table-hover table-striped');

      for (i = 0; i < response.length; i++) {

        var row = $('<tr>').addClass('bar');
        
        var td = $('<td>')
        td.append(response[i].name)
        row.append(td);
        var td = $('<td >')
        td.append(response[i].phone)
        row.append(td);
        var td = $('<td> ')
        td.append(response[i].username)
        row.append(td);

        table1.append(row);

      }

      $('#tabla').append(table1);
      console.log(response);
    });
  }



</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
  integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
  </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
  integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
  </script>
<script src="//malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>